.login-panel{
  margin: 0 auto;
  width:100%;
  max-width: 500px;
  padding: 20px;
  margin-top:20px;
  border-radius: 20px;
}

.header{
  width:30%;
  margin-left: 0;
  padding: 20px 0;
}

.navbar-dark{
  background-color:#2C3E50;
  color:#96BDF7;
}

.channels{
  display:inline;
  width:100%;
  margin-top:15px;
}

.form{
  margin-top:50px;
}